@import '../../../styles/variables.scss';

main {
  display: flex;
  flex-direction: row;
  align-items:  center;
  justify-content: center;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 0 35px;
  }

  .container__form-section {
    flex-grow: 0.5;

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    img {
      margin-bottom: 25px;
    }

    .button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      gap: 25px;

      .divider {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        gap: 25px;
        width: 100%;

        font-size: 14px;
        color: $gray-bg;
        font-weight: 400;
        text-transform: uppercase;

        div {
          flex-grow: 1;
          height: 2px;
          background-color: $gray-bg;
        }
      }
    }

    button {
      width: 100%;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 600;
      border: none;
      background-color: transparent;
      padding: 11px 0;
      cursor: pointer;

      &.button-primary {
        background-color: $primary-color;
        color: white;
        box-shadow:0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
      }
      &.button-secondary {
        border: solid 1px $primary-color;
        color: $primary-color;
      }
    }
  }

  .container__main-section {
    gap: 8px;

    flex-grow: 1;
    background-color: $gray-bg;
  }
}
